<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form>
        <p>Product</p>
        <input type="text" required name="name" id="name" placeholder="Please type name of product">
        <input type="number" required name="price" id="price" placeholder="Please type price of product">
        <input type="text" name="image" id="image" placeholder="Please type image URL of product">
        <input type="text" name="uuid" id="uuid" placeholder="Please type UUID of product">
        <input type="description" name="description" id="description" placeholder="Please type description of product"><br>

        <input id="submit" type="submit">
    </form>


        <table>
           <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Image URL</th>
            <th>UUID</th>
            <th>Description</th>
            <th>Update Button</th>
            <th>Delete Button</th>
           </tr>
           <% products.forEach(product => { %>
            <tr>
                <td><%= product.name %></td>
                <td><%= product.price %></td>
                <td><%= product.image %></td>
                <td><%= product.uuid %></td>
                <td><%= product.description %></td>
                <td>
                    <a href="<%= product._id %>"><button>Update Product</button></a>
                </td>
                <td>
                    <a><button ">Delete Product</button></a>
                </td>
            </tr>
           <% }); %>
        </table>


    <script src="script.js"></script>

</body>
</html>
